.header {
height: 4rem;
border-bottom: 1px solid #f2f4f7;
background-color: #fff;
}
.container {
  padding-right: 2.4rem;
  padding-left: 0.4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
